@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap");

* {
  font-family: "Raleway", sans-serif !important;
  box-sizing: border-box;
  margin: 0;
  color: #edf6f9;
}
ul,
ol,
li {
  text-decoration: none;
  list-style-type: none;
  padding-left: 5px;
}
body {
  margin: 14px;
  background-color: #83c5be;
}

h1,
h3 {
  margin-block-end: 20px;
  font-weight: bold;
}

p {
  margin-block: 8px;
  font-weight: normal;
  font-size: 0.9em;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

.form {
  width: 30%;
}

.card {
  width: 60%;
}

.form,
.card {
  max-height: fit-content;
  min-width: 140px;
  margin-inline-end: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: #554971;
  overflow: auto;
}

#start,
.file-input__label {
  border-width: 0;
  border-radius: 4px;
  font-weight: 400;
  color: #edf6f9 !important;
  font-size: 0.8em;
  padding: 5px 6px;
  background-color: #63768d;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

.file-input__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

#result::-webkit-scrollbar,
#result::-webkit-scrollbar-thumb {
  height: 20px;
  width: 20px;
  border-radius: 24px;
  background-clip: padding-box;
  border: 6px solid transparent;
}

#result::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0px 0px 10px;
}

#result:hover {
  color: rgba(0, 0, 0, 0.3);
}
#result {
  background: #554971;
  color: rgba(0, 0, 0, 0);
  -webkit-text-fill-color: #edf6f9;
  transition: 0.5s;
  overflow: auto;
  max-height: 360px;
  padding-inline-end: 8px;
  margin-bottom: 0;
}
#result > * {
  font-family: "Noto Sans Mono", monospace !important;
  font-size: 0.9em;
}
